.container-reporte {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

.reporte-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  max-height: 70vh;
  overflow-y: auto;
}

.icon {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  object-fit: cover;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #212529;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.175);
  padding: 0.5rem 0;
  z-index: 1000;
  min-width: 160px;
}

.dropdown-menu.show {
  display: block;
}

.dropdown-item {
  display: block;
  width: 100%;
  padding: 0.25rem 1rem;
  clear: both;
  font-weight: 400;
  color: #dee2e6;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  transition: background-color 0.15s ease-in-out;
}

.dropdown-item:hover,
.dropdown-item:focus {
  color: #fff;
  background-color: #495057;
}

.dropdown-divider {
  height: 0;
  margin: 0.5rem 0;
  overflow: hidden;
  border-top: 1px solid rgba(0, 0, 0, 0.15);
  opacity: 0.25;
}

.table {
  /* margin-top: 30px; */
  border-collapse: collapse;
}

.table thead {
  background-color: #333;
  color: white;
}

.table th {
  background-color: #000000;
  border: 2px solid #ccaf54;
  border-radius: 10px;
  padding: 15px;
  text-align: center;
}

.table td {
  padding: 15px;
  text-align: center;
  border: 2px solid #696969;
  font-size: 1rem;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: #2b2b2b;
}

.table-striped tbody tr:nth-of-type(even) {
  background-color: #222;
}

.table-responsive {
  overflow-x: auto;
}

.form-select,
.form-control {
  border: 1px solid #444;
  color: #fff;
  background-color: #212529;
}

.form-select option {
  color: #fff;
  background-color: #333;
}

.form-label {
  color: #fff;
  font-weight: bold;
}

.btn-reporte {
  background-color: #ccaf54;
  border: 1px solid #ccaf54;
  color: #000;
  transition: all 0.2s ease;
}

.btn-reporte:hover {
  background-color: #000000 !important;
  color: #ccaf54 !important;
  border: 1px solid #ccaf54 !important;
  outline: none;
}

.btn-reporte:active {
  background-color: #000000 !important;
  color: #ccaf54 !important;
  border: 1px solid #ccaf54 !important;
  outline: none;
}

.alert-info {
  background-color: #17a2b8;
  color: #fff;
  border-color: #17a2b8;
}